@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');
/*font-family: 'Righteous', cursive;
font-family: 'Sarala', sans-serif;*/

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background: linear-gradient(68.15deg, #232f2e 16.62%, #528e75 85.61%);
}
main {
    min-width: 320px;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 1.5rem;
}

.header-img {
    height: 5rem;
}

.header-menu {
    display: flex;
    gap: 2.3rem;
}

.header-menu-iten {
    font-family: 'Sarala', sans-serif;
    color: #FFF2E7;
    font-weight: 400;
    font-size: 1.1rem;
}

.content {
    margin-bottom: 3rem;
    border-top: 0.4px solid #FFF2E7;
}

.content-main {
    margin-top: 2.8rem;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.content-main-write {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.content-main-write-title {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 4rem;
    color: #FFF2E7;
}

.content-main-write-subtitle {
    font-family: 'Sarala', sans-serif;
    color: #ECD6C4;
    font-weight: 400;
    font-size: 1.5rem;
} 

.content-main-write-button {
    background-color: #ECD6C4;
    width: 11.2rem;
    height: 3.7rem;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 1.4rem;
    font-family: 'Sarala', sans-serif;
    color: #232f2a;
    font-weight: 400;
    font-size: 1.5rem;
}

.content-main-write-button:hover {
    background-color: rgba(236, 214, 196, 0.53);
}

.content-main-img {
    height: 16rem;
}

.content-secundary {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    margin-top: 3rem;
}

.content-secundary-title {
    border-top: 0.4px solid #FFF2E7;
    padding-top: 3rem;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 1.5rem;
    color: #FFF2E7;
    margin-bottom: 1rem;
}

.content-secundary-paragraph {
    font-family: 'Sarala', sans-serif;
    color: #ECD6C4;
    font-weight: 300;
    font-size: 1.1rem;
}

.footer {
    margin-top: 6.9rem;
    padding: 2rem;
    border-top: 0.4px solid #FFF2E7;
}

.footer-img {
    height: 4.5rem;
    display: block;
    margin: 0 auto;
}

@media only screen and (max-width: 580px) {
    .content-main-img {
      height: 10rem;
      margin-right: 1rem;
    }

    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding: 1.5rem;
        margin-left: 1rem;
    }

    .header-menu {
        display: flex;
        gap: 1rem;
    }
    
    .content-main-write-title {
        font-family: 'Righteous', cursive;
        font-weight: 400;
        font-size: 3rem;
        color: #FFF2E7;
    }

    .content-main-write-subtitle {
        font-family: 'Sarala', sans-serif;
        color: #ECD6C4;
        font-weight: 400;
        font-size: 1rem;
    }

    .content-main-write-button {
        background-color: #ECD6C4;
        width: 8rem;
        height: 3.5rem;
        border: none;
        box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
        border-radius: 1.4rem;
        font-family: 'Sarala', sans-serif;
        color: #232f2a;
        font-weight: 400;
        font-size: 1.5rem;
    }

    .content-main-write {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin-left: 1rem;
    }
    
    .content-secundary-title {
        border-top: 0.4px solid #FFF2E7;
        padding-top: 2rem;
        font-family: 'Righteous', cursive;
        font-weight: 400;
        font-size: 1.3rem;
        color: #FFF2E7;
        margin-bottom: 1rem;
    }

    .content-secundary-paragraph {
        font-family: 'Sarala', sans-serif;
        color: #ECD6C4;
        font-weight: 300;
        font-size: 1rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    footer {
        margin-top: 6.9rem;
        padding: 2rem;
        border-top: 0.4px solid #FFF2E7;
        margin-left: 1rem;
    }
    
  }
